@import 'https://fonts.googleapis.com/css?family=Roboto:300';

body {
	font-family: 'Roboto', sans-serif;
}

html, body {
	top:0px;
	left:0px;
	margin:0;
	
}
html {
	background: linear-gradient(#2A484B,#007080);
}
.title {
	position:absolute;
	font-size:4vw;
	color:white;
	margin-top:-10vw;
	z-index:1;
	font-weight:700;
	border-bottom:solid 5px;
}
.idlePic {
	width:31.7vw;
}

.desc {
	margin-left: 25px;
	margin-top:90px;
	color:white;
	font-size:1.6vw;
}
#everything {
}
#logo {
	image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;          /* Firefox                        */
    image-rendering: -o-crisp-edges;            /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated; /* Chrome */
    image-rendering: optimize-contrast;
	height:70px;
	width:70px;
	margin-left: 1.5%;
	margin-top:15px;
}

#header {
	background-color:#6B8688;
	height:100px;
	color:white;
	font-size: 20pt;
	position:fixed;
	width:100%;
	top:0px;
	z-index:1000;
}


#home {
	color:white;
	font-size:4vw;
	margin-top:10%;
	margin-left:2%;
}
.name {
	font-size:4.1vw;
	font-weight:700;
	color:white;
}
#primary_nav_wrap {
	display:inline-block;
	margin-left:2%;
	font-size:20pt;
}
#primary_nav_wrap ul
{
	list-style:none;
	
	float:left;
	margin:0;
	padding:0
}

#primary_nav_wrap ul span
{
	line-height:32px;
	padding:0 20px;
}

#primary_nav_wrap ul li
{
	transition: 0.3s;
	position:relative;
	float:left;
	margin:0;
	padding:0
}

#primary_nav_wrap span {
	cursor:pointer;
}

#primary_nav_wrap ul li:hover
{
	background:#ffffff;
	color:#6B8688;
}

#primary_nav_wrap ul ul
{
	transition:.3s;
	opacity:0;
	visibility: hidden;
	position:absolute;
	top:100%;
	left:0;
	font-size:16pt;
	background:#456366;
	padding:0
}

#primary_nav_wrap ul ul li
{
	float:none;
	width:200px
}

#primary_nav_wrap ul li li {
	
	padding: 10px;
}

#primary_nav_wrap ul ul span
{
	line-height:120%;
	padding:0px 0px
}

#primary_nav_wrap ul li:hover > ul
{
	opacity:1;
	visibility:visible;
}

#contacts {
  display: inline-block;
  position:absolute;
  margin-left:calc(100% - (180px));
  margin-top:-30px;
  -ms-transform:translate(-50%,-50%);
  -webkit-transform:translate(-50%,-50%);
  transform:translate(-50%,-50%);
}

/* Icons */

#contacts a {
  color:#fff;
  background: #2A484B;
  border-radius:4px;
  text-align:center;
  text-decoration:none;
  font-family:fontawesome;
  position: relative;
  display: inline-block;
  width:40px;
  height:28px;
  padding-top:12px;
  margin:0 2px;
  font-size:12pt;
  -o-transition:all .5s;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
  font-smoothing:always;
   -webkit-font-smoothing: subpixel-antialiased;

}

#contacts a:hover {
  background: #007080;/*#ef92a3;*/
}

/* pop-up text */

#contacts a span {
  color:#666;
  position:absolute;
  font-family:sans-serif;
  bottom:0;
  left:-25px;
  right:-25px;
  padding:5px 7px;
  z-index:-1;
  font-size:14px;
  border-radius:2px;
  background:#fff;
  visibility:hidden;
  opacity:0;
  -o-transition:all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -moz-transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

/* pop-up text arrow */

#contacts a span:before {
  content:'';
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #fff;
  position:absolute;
  bottom:-5px;
  left:40px;
}

/* text pops up when icon is in hover state */

#contacts a:hover span {
  bottom:50px;
  visibility:visible;
  opacity:1;
}

/* font awesome icons */

#contacts a:nth-of-type(1):before {
content:'\f0d5';
}
#contacts a:nth-of-type(2):before {
content:'\f113';
}
#contacts a:nth-of-type(3):before {
content:'\f0e1';
}


*,
*:after,
*:before {
  box-sizing: inherit;
  list-style:none;
}

nav {
	text-align:right;
}
section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgba(0,0,0,0.5);
  font-size: 2.2vw;
  min-height: 100%;
  height: 100vh;
}

#Acontent {
	color:white;
	margin-top:auto;
	margin-bottom:auto;
}

.Quick-navigation {
  position: fixed;
  z-index: 1;
  margin: 0;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.Quick-navigation-item {
  color: rgba(0,0,0,0.4);
  text-decoration: none;
  font-size: 1.3em;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  padding: 0.5em;
  display: block;
}

.Quick-navigation-item:hover,
.Quick-navigation-item.current {
  color: #fff;
}


.animation-element.slide-left {
  opacity: 0;
  -moz-transition: all 500ms linear;
  -webkit-transition: all 500ms linear;
  -o-transition: all 500ms linear;
  transition: all 500ms linear;
  -moz-transform: translate3d(-100px, 0px, 0px);
  -webkit-transform: translate3d(-100px, 0px, 0px);
  -o-transform: translate(-100px, 0px);
  -ms-transform: translate(-100px, 0px);
  transform: translate3d(-100px, 0px, 0px);
}


.animation-element.slide-left.in-view {
  opacity: 1;
  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}
/*
hr {
  position:absolute;
  display:inline-block;
  margin-top:35px;
  text-align: center;
  text-transform: uppercase;
  width:200%;
  <embed id="resume" src="WebsiteResume.pdf"/>
}*/

.wrapper{
	width:31.7vw;
	height:19vw;
	position:relative;
	color:#fff;
	text-shadow:rgba(0,0,0,0.1) 2px 2px 0px;
	font-family:fontawesome;
	font-size:12pt;
	white-space:nowrap;
	
}

.slider-wrap{
	width:31.7vw;
	height:19vw;
	position:relative;
	overflow:hidden;
	white-space:nowrap;
	margin-top:90px;
	border:solid rgba(255,255,255,.4) 5px;
	
}


.slider-wrap ul.slider{
	position:absolute;
	top:0;
	left:0;		
}

.slider-wrap ul.slider li{
	float:left;
	position:relative;
	width:31.7vw;
	height:19vw;
}
ul.slider {
	margin-top:0px;
	margin-left:-40px;
}

ul.slider li {
	display:inline;
}


/*btns*/
.btns{
	position:absolute;
	width:50px;
	height:60px;
	top:50%;
	margin-top:-25px;
	line-height:57px;
	text-align:center;
	cursor:pointer;	
	background:rgba(0,0,0,0.3);
	z-index:100;
	
	
	-webkit-user-select: none;  
	-moz-user-select: none; 
	-khtml-user-select: none; 
	-ms-user-select: none;
	
	-webkit-transition: all 0.1s ease;
	-moz-transition: all 0.1s ease;
	-o-transition: all 0.1s ease;
	-ms-transition: all 0.1s ease;
	transition: all 0.1s ease;
}

.btns:hover{
	background:rgba(0,0,0,0.5);	
}

.next{
	right:-50px; 
	border-radius:7px 0px 0px 7px;
	
}
.previous{
	left:-50px; 
	border-radius:0px 7px 7px 7px;
	
}
.counter{
	top: 30px; 
	right:35px; 
	width:auto;
	position:absolute;
}
.next:before {
	content:'\f061';
}
.previous:before {
	content:'\f060';
}

.slider-wrap.active .next{right:0px;}
.slider-wrap.active .previous{left:0px;}

/*bar*/
.pagination-wrap{
	min-width:20px;
	margin-left:-40px;
	margin-top:17vw;
	height:15px;
	position:relative;
	text-align:center;
}

.pagination-wrap ul {
	width:31.7vw;
}

.pagination-wrap ul li{
	margin: 0 4px;
	display: inline-block;
	width:5px;
	height:5px;
	border-radius:50%;
	background:#fff;
	opacity:0.5;
	position:relative;
  top:0;
  
  
}

.pagination-wrap ul li.active{
  width:12px;
  height:12px;
  top:3px;
	opacity:1;
	box-shadow:rgba(0,0,0,0.1) 1px 1px 0px;	
}


/*ANIMATION*/
.slider-wrap ul, .pagination-wrap ul li{
	-webkit-transition: all 0.3s cubic-bezier(1,.01,.32,1);
	-moz-transition: all 0.3s cubic-bezier(1,.01,.32,1);
	-o-transition: all 0.3s cubic-bezier(1,.01,.32,1);
	-ms-transition: all 0.3s cubic-bezier(1,.01,.32,1);
	transition: all 0.3s cubic-bezier(1,.01,.32,1);	
}

#E {
}
#resume {
	position:relative;
	margin-left:auto`;
	margin-right:auto;
	margin-top: 48vw;
	height:59vw;
	width:46vw;
}


